@model ShradhaBookStore.Models.AllOrders

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Orders";
}

<h1>Placed Orders</h1>


@if (@ViewData["msg"] != null)
{

    <div class="alert alert-warning">
        @ViewData["msg"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                User
            </th>
            <th>
                Paid Amount
            </th> 
            <th>
                Payment
            </th>
            <th>
                Quantity
            </th>
            <th>
                Adress
            </th>
         
            <th>
                Receiver Name
            </th>
            <th>
                Postal Code
            </th>
            <th>
                Phone
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverName)
                    
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                    
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                    
                </td>
                <td>
                    <a asp-action="Delivered" asp-route-id="@item.Id">Delivered</a> |
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Cancel_Order" asp-route-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
