@model IEnumerable<ShradhaBookStore.Models.Manufacturer>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Show_Manufacturers";
}

<h1>Show_Manufacturers</h1>
@if (@ViewData["msg"] != null)
{

    <div class="alert alert-warning">
        @ViewData["msg"]
    </div>
}
<p>
    <a asp-action="Add_Manufacturer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acronyms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acronyms)
            </td>
            <td>
                    <a asp-action="Update_Manufacturer" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete_Manufacturer" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
