@model ShradhaBookStore.Models.Allproduct
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutGuest";
}

<!-- Start Banner Hero -->

                <div  id="template-mo-zay-hero-carousel" class="container-fluid">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 ">
                            <img class="img-fluid banner_boy" src="~/Images/banner_boy.png" alt="">
                        </div>
                        <link rel="stylesheet" href="~/css/custom.css">
                        <div class="col-lg-6 mb-0 d-flex align-items-center" id="book-banner">
                            <img class="img-fluid banner_book" src="~/Images/banner_book.png" alt="">
                            <div class="text-align-left align-self-center" style="z-index: 1;">
                                <h1 class="h1 text-success banner-text"><b>Shradha</b> BookStore</h1>
                                <h3 class="h2 banner-text">Where Every Page Sparks Imagination.</h3>
                                <p>
                                    At ShradhaBookstore, we believe in the power of words to ignite curiosity and
                                    inspire change. With a diverse collection curated for every reader, we invite you to
                                    embark on a journey through literature's endless realms.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
          
    <!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container my-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories</h1>
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row " style="height:90vh;">
        @* Show Parent Category Cards on Home Page *@
        @foreach (var cat in Model.Categories)
        {
            <div class="col-12 col-md-4 p-5 mt-3" style="height:100%;">
                <a asp-action="Sub_Categories" asp-route-id="@cat.Id"><img src="~/images/Categories/@cat.Image" class="rounded-circle img-fluid border " height="100%" width="100%"></a>
                <h5 class="text-center mt-3 mb-3">@cat.Name</h5>
                <p class="text-center">
                    @cat.Description <br />
                    <a class="btn btn-success">Go Shop</a>
                </p>
            </div>
        }
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Unlock excellence with our featured products - where quality meets innovation, and satisfaction knows no bounds.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var products in Model.Products)
            {
                @if (products.Status == 2)
                {
                    
                <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                            <a asp-action="Product_info"  asp-route-id="@products.Id">
                                <img src="~/images/Products/@products.Image" class="card-img-top" alt="@products.Name">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        @{
                                            var gold = Model.FirstReviewStars.ContainsKey(products.Id) ? Model.FirstReviewStars[products.Id] : 0;
                                        }
                                        @for (int s = 0; s < gold; s++)
                                        {
                                            <i class="text-warning fa fa-star"></i>
                                        }
                                        @{
                                            var white = 5 - gold;
                                        }
                                        @for (int s = 0; s < white; s++)
                                        {
                                            <i class="text-muted fa fa-star"></i>
                                        }
                                    </li>
                                    <li class="text-muted text-right">@products.Price</li>
                        </ul>
                                <a asp-action="Product_info" class="text-decoration-none text-dark" asp-route-id="@products.Id">@products.Name</a>
                        <p class="card-text">
                            @products.Description
                        </p>
                                <p class="text-muted">Reviews (@(Model.ReviewCounts.ContainsKey(products.Id) ? Model.ReviewCounts[products.Id].ToString() : "0"))</p>
                    </div>
                </div>
            </div>
                }
        } 
        </div>
    </div>
</section>
<!-- End Featured Product -->
