@model ShradhaBookStore.Models.CartProducts
@{
    Layout = "_LayoutGuest";
}
<style>

    * {
        box-sizing: border-box;
    }

    .shopping-cart {
        width: 750px;
        min-height: 423px;
        margin: 80px auto;
        background: #FFFFFF;
        box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
    }

    .title {
        height: 60px;
        border-bottom: 1px solid #E1E8EE;
        padding: 20px 30px;
        color: #5E6977;
        font-size: 18px;
        font-weight: 400;
    }

    .item {
        padding: 20px 30px;
        height: 120px;
        display: flex;
    }
   

    .item:nth-child(3) {
        border-top: 1px solid #E1E8EE;
        border-bottom: 1px solid #E1E8EE;
    }

    .buttons {
        position: relative;
        padding-top: 30px;
        margin-right: 60px;
    }

    .delete-btn,
    .like-btn {
        display: inline-block;
        Cursor: pointer;

    }
    .delete-btn {
        width: 18px;
        height: 17px;
        background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
    
    }

    .like-btn {
        /* position: relative; */
        top: 9px;
        left: 15px;
        background: url('twitter-heart.png');
        width: 60px;
        height: 60px;
        background-size: 2900%;
        background-repeat: no-repeat;
    }

    .is-active {
        animation-name: animate;
        animation-duration: .8s;
        animation-iteration-count: 1;
        animation-timing-function: steps(28);
        animation-fill-mode: forwards;
    }


    .image {
        margin-right: 50px;
    }

    /* Let’s add some basic style to  product name and description. */
    .description {
        padding-top: 10px;
        margin-right: 60px;
        width: 115px;
    }

        .description span {
            display: block;
            font-size: 14px;
            color: #43484D;
            font-weight: 400;
        }

            .description span:first-child {
                margin-bottom: 5px;
            }

            .description span:last-child {
                font-weight: 300;
                margin-top: 8px;
                color: #86939E;
            }

    .quantity {
        padding-top: 20px;
        margin-right: 60px;
    }

        .quantity > span {
            
            text-align: center;
           
            font-size: 25px;
            /* margin-bottom:70px; */
            color: #43484D;
            font-weight: 300;
        }

    button[class*=btn] {
        width: 30px;
        height: 30px;
        background-color: #E1E8EE;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }
    a{
        text-decoration:none;
    }
    .sign-btn span{
       /* padding-top:3px; */
        color: #43484D;
    }

   

    button:focus,
    input:focus {
        outline: 0;
    }

    .total-price {
        width: 83px;
        padding-top: 27px;
        text-align: center;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
    }

    .Check-btn{
        background:darkcyan;
        color:white;
        font-weight:bold;
        padding:20px;
        text-align:center;
        border-radius:10px;
        margin-left:auto;
        height:60px;
        transition:0.5s ease;
    }

    .Check-btn:hover{
            background: white;
            border:1px solid darkcyan;
            color: darkcyan;
        text-decoration:none;
    }

</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
@if (@ViewData["msg"] != null)
{

    <div class="alert alert-warning">
        @ViewData["msg"]
    </div>
}
<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Bag
    </div>@{
        var price = "";
        var quantity = "";
        var grandtotal = 0;
    }
    @foreach (var item in Model.Carts)
    {
        <!-- Product #1 -->
        <div class="item h-100">
            <div class="buttons">
                <span class="delete-btn"></span>
                <span class="like-btn"></span>
            </div>

            <div class="image w-25">
                <img src="~/Images/Products/@item.Product.Image" class="img-fluid" alt="" />
            </div>

            <div class="description ">
                <a asp-action="Product_info"  asp-route-id="@item.Product.Id">

                <span>@item.Product.Name</span>
                </a>

                <span>@item.Product.Acronym</span>
                <span>RS: @item.Product.Price</span>
            </div>
            @* CAlculate TOtal Prices *@
            @{
                var total = item.Product.Price * item.Quantity;
            }
            <div class="quantity w-25">
                @* one button for increment *@

                <a asp-action="Increment_Quantity" class="sign-btn" type="button" asp-route-cartid="@item.Id">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </a>
                @* Print quantity *@
                <span >@item.Quantity</span>

                @* one button for decrement*@
                <a asp-action="Decrement_Quantity" class="sign-btn" type="button" asp-route-cartid="@item.Id">
                    <span class="material-symbols-outlined">
                        remove
                    </span>
                </a>
            </div>

            <div class="total-price">RS: @total</div>
        </div>
        price = item.Product.Price.ToString();
        quantity = item.Quantity.ToString();
        grandtotal += int.Parse(price) * int.Parse(quantity);
    }
  <div class="item">
        <h4 class="h5 w-100" style="text-align:end;">Total : @grandtotal</h4>
  </div>
  <div class="item ">

        <a asp-action="Checkout" asp-route-total="@grandtotal" class="Check-btn col-3"><b>Checkout</b></a>
  </div>
      
</div>
